<div class="colorpalettes-list">
    {% for color in data.colors %}
    <div class="colorpalettes-group">
        <h3 class="colorpalettes-header">
            <span class="colorbox" style="--colorbox-bg: {{ color }};"></span>
            {{ color }}
        </h3>
        <div class="colorpalettes" style="--color-base: {{ color }};">
            {% for space in data.spaces %}
                <div class="colorpalette" style="--color-space: {{ space }};">
                    <div class="colorheader">{{ space }}</div>
                    {% for percent in data.percentages|reverse %}
                        <div class="color color--{{ space }}" style="--color-lightness: {{ percent }};"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
