<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ demo.name }}</title>
    {{ encore_entry_link_tags('inline') }}
    <style id="demo-styles-basic">
        {{ demo.stylesBasic|raw }}
    </style>
    <style id="demo-styles">
        {{ demo.styles|raw }}
    </style>
</head>
<body>
    <div class="demo-contanier" id="demo-inner">
    {{ demo.content|raw }}
    </div>
    {{ encore_entry_script_tags('inline') }}
    <script id="demo-scripts">
        {{ demo.scripts|raw }}
    </script>
</body>
