<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if block("title") is defined %}{{ block('title') }} - {% endif %}Modern CSS Demos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
            {{ encore_entry_link_tags('app') }}
</head>
<body class="styleguide-body">

    <div class="styleguide-page">
        <div class="styleguide-page-navigation" tabindex="0">
            <button type="button" class="styleguide-navigation-toggle"></button>
            <nav class="styleguide-navigation-list">
                {{ knp_menu_render('main') }}
            </nav>
        </div>
        <div class="styleguide-page-content">
            <div class="styleguide-page-content-body">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</body>
</html>
